
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Currency_Exchange2022.Models.Currency>

<h2>LIsta e monedhave</h2>
<div class="row">
    <div class="col-md-12 text-right">
        <a href="@Url.Action("Add","Currency")" class="btn btn-success">Shto</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Kodi</th>
                <th>Monedha</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                </tr>
            }
        </table>
    </div>
</div>


