@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    
    <abbr title="Phone">Phone:0673080570</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">exchange@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">frenkidika2001@gmail.com</a>
</address>